.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: none;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: 10px
}
.storybook-button:hover{
  background-color: #BC925A;
  color: #020202 
}
.storybook-button--Womens {
  color: #BC925A;
  background-color: #020202;
}
.storybook-button--Mens {
  color: #BC925A;
  background-color: #020202;
}
.storybook-button--Home {
  color: #BC925A;
  background-color:#020202;
}
.storybook-button--Blk {
  color: #BC925A;
  background-color:#020202;
}
