* {
  box-sizing: border-box;
}


/* Make the image responsive */

/* Style the button and place it in the middle of the container/image */
/* .Container .btn {
  display: flex;
  flex-direction: row;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white; 
  font-size: 16px;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 5px;
} */


